# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
.vscode

# node.js
#
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json

node_modules
template/js
template/.eslintcache
template/node_modules
template/vendor/bundle/
template/ios/Pods
template/ios/build
template/android/app/.cxx
template/android/app/build
template/android/build
template/android/.gradle
template/android/.idea
.github